{
	"presets":	[
		"react",
		"es2015",
		"stage-0"
	],
	"plugins": [
		"add-module-exports",
		"transform-decorators-legacy",
		["transform-runtime", {
			"helpers": false,
			"polyfill": false,
			"regenerator": false
		}]
	]
}