.home {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	min-height: 500px;
	// background-color: white;
	background-color: transparent;
}

.tip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 30px;

	&>h2 {
		margin-top: 15px;
		margin-bottom: 10px;
		color: #3385a9;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	min-height: 200px;
	margin: 0px 10px;
	// background-color: white;
}

.flexItem {
	display: flex;
	margin: 10px 0;
}

$itemHeight: 30px;
.customLabel {
	width: 80px;
	height: $itemHeight + 4px;
	line-height: $itemHeight + 4px;
	font-size: 16px;
	font-weight: 700;
}

.usernameLabel {
	// width: 70px;
	// margin-left: 10px;
}

$inputWidth: 60%;
.customInput {
	height: $itemHeight;
	width: $inputWidth;
	margin-left: 4px;
	font-size: 16px;

	border: 1px solid #eee;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
	&:focus {
		border-color: #0db0f1;
	}
}

.okButton {
	margin-top: 44px;
	width: 100%;
	height: 44px;
	// background-color: #e4473f;
	background-color: #3385a9;
	&>button {
		width: 100%;
		height: 100%;
		border: none;
		padding: none;
		font-size: 18px;
		color: white;
		outline: none;
		background-color: transparent;
	}
}
